<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>vesta</string>
				<string>vcs</string>
				<string>amc</string>
				<string>asse</string>
				<string>cc1</string>
				<string>cif</string>
				<string>mcif</string>
				<string>cmtx</string>
				<string>cmt</string>
				<string>cssr</string>
				<string>config</string>
				<string>cry</string>
				<string>fdt</string>
				<string>inp</string>
				<string>ics</string>
				<string>mol</string>
				<string>min</string>
				<string>mld</string>
				<string>dat</string>
				<string>ins</string>
				<string>lst</string>
				<string>res</string>
				<string>struct</string>
				<string>str</string>
				<string>xyz</string>
				<string>xtl</string>
				<string>prim</string>
				<string>pri</string>
				<string>den</string>
				<string>eb</string>
				<string>?ed</string>
				<string>ggrid</string>
				<string>pgrid</string>
				<string>grd</string>
				<string>m3d</string>
				<string>scat</string>
				<string>sca</string>
				<string>rho3d</string>
				<string>rho</string>
				<string>fou</string>
				<string>xplor</string>
				<string>inp</string>
				<string>cube</string>
				<string>cub</string>
				<string>vasp</string>
				<string>xsf</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>VESTA-file.icns</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>VESTA</string>
	<key>CFBundleGetInfoString</key>
	<string>VESTA</string>
	<key>CFBundleIconFile</key>
	<string>VESTA.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>NSPrincipalClass</key>
	<string>VESTA</string>
</dict>
</plist>
